<div id="body">
  <div id="blank">
  </div>
    <div id="headerblank">
      <div id="header">
      <div id="logotitlesocial">
        <div id="logotitle">
          <div id="logo">
            
          </div>
          <div id="title">
            <h1 id="titlename">GATE Achievers</h1>
          </div>
        </div>
        <div id="social">
          <div id="fb">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" style="font-size:35px;color:blue"></i></a>
          </div>
          <div id="twit">	
            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" style="font-size:35px;color:powderblue"></i></a>
          </div>
          <div id="g">	
            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-circle" style="font-size:35px;color:red"></i></a>
          </div>
          <div id="yt">
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play" style="font-size:35px;color:red"></i></a>
          </div>
          <div id="ln">
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" style="font-size:35px;color:blue"></i></a>
          </div>
        </div>
      </div>
      <div id="navmenu">
        <div id="menu">
          <ul id="list">
              <li><a href="#home">Home</a></li>
              <li><a href="syllabus.html" target="_blank">Syllabus</a>
              </li>
            <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Gallery</a>
                <div class="dropdown-content">
                    <a href="#">Books PDF</a>
                    <a href="#">Videos</a>
                    <a href="#">Photos</a>
                 <a href="#">Assignments</a>
                </div>
              </li>
            <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">News</a>
                <div class="dropdown-content">
                    <a href="#">Latest Headlines</a>
                    <a href="#">New Arrivals</a>
                    <a href="#">Important Dates</a>
                 <a href="#">Seminars</a>
                </div>
              </li>
            <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Contact</a>
                <div class="dropdown-content">
                    <a href="#">CSE Faculty</a>
                    <a href="#">Administration</a>
                    <a href="#">H.O.D.'s</a>
                 <a href="#">Departments</a>
                </div>
              </li>
            <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">About</a>
                <div class="dropdown-content">
                    <a href="#">Location</a>
                    <a href="#">Achievements</a>
                    <a href="#">Prospectus</a>
                </div>
              </li>
          </ul>
        </div>
        <form action="https://www.google.com/" method="post">
        <div id="search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
          </div>
          <div id="btnsearch">
            <button type="submit" style="font-size:24px;color:red"><i class="material-icons">search</i></button>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
    <div id="slideshowblank">
      <div class="slideshow">
          <img class="myimg" src="../../assets/Images/img1.jpg">
          <img class="myimg" src="../../assets/Images/img2.jpg" >
          <img class="myimg" src="../../assets/Images/img3.jpg" >
          <img class="myimg" src="../../assets/Images/img4.jpg" >
          <img class="myimg" src="../../assets/Images/img5.jpg" >
      </div>
    </div>
    <div id="mainblank">
      <div id="maincontent">
      
      </div>
    </div>
    <div id="footerblank">
      <div id="footer">
      
      </div>
    </div>
  <div id="copyright">
    
  </div>
  </div>