<div id="body">
  <div id="blank">
  </div>
  <div id="headerblank">
    <div id="header">
      <div id="logotitlesocial">
        <div id="logotitle">
          <div id="logo">
            <img src="../../assets/Images/logo.png" width="100%" height="140px"/>
          </div>
          <div id="title">
            <h1 id="titlename">GATE Achievers</h1>
          </div>
        </div>
        <div id="logout">
          Welcome {{LoginID}} &nbsp;&nbsp;&nbsp;
          <a href="logout" active >Logout</a>
        </div>
        <div id="social">
          <div id="fb">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" style="font-size:35px;color:blue"></i></a>
          </div>
          <div id="twit">	
            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" style="font-size:35px;color:powderblue"></i></a>
          </div>
          <div id="g">	
            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-circle" style="font-size:35px;color:red"></i></a>
          </div>
          <div id="yt">
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play" style="font-size:35px;color:red"></i></a>
          </div>
          <div id="ln">
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" style="font-size:35px;color:blue"></i></a>
          </div>
        </div>
      </div>
      <div id="navmenu">
          <div id="menu">
            <ul id="list">
                <li><a href="dashboard">Home</a></li>
                <li><a href="../../assets/Images/syllabus.pdf" target="_blank">Syllabus</a>
                </li>
              <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Gallery</a>
                  <div class="dropdown-content">
                      <a href="bookspdf" target="_blank">Books PDF</a>
                      <a href="videos" target="_blank">Videos</a>
                   <a href="../assets/pdf/oldpaper.pdf" target="_blank">Assignments</a>
                  </div>
                </li>
              <li><a href="news" target="_blank">News</a></li>
              <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Contact</a>
                  <div class="dropdown-content">
                      <a href="csefaculty" target="_blank">CSE Faculty</a>
                      <a href="adminstration" target="_blank">Administration</a>
                      <a href="#" target="_blank">H.O.D.'s</a>
                   <a href="#" target="_blank">Departments</a>
                  </div>
                </li>
              <li><a href="about" target="_blank">Feedback</a></li>
            </ul>
          </div>
          <form action="https://www.google.com/" method="post">
          <div id="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <div id="btnsearch">
              <button type="submit" style="font-size:24px;color:red" ><i class="material-icons">search</i></button>
            </div>
          </div>
        </form>
        </div>
      </div>
      </div>
  <div id="mainblank">
    <div id="maincontent">
      <div class="content">            
        <div class="w3-container">
              <h2>Algorithms & Mathematics Tutorials</h2>

              <div class="w3-row">
                  <a href="javascript:void(0)" onclick="openCity(event, 'London');" >
                     <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" id="lpth">Youtube Channels</div>
                  </a>
                  <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
                     <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" id="lpth">Web-Links</div>
                  </a>
                   <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
                     <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" id="lpth">PDF Links</div>
                   </a>
              </div>
              <div id="London" class="w3-container city">
                <h2>Tutorial Channels</h2>
                <div id="block">
                <div id="w1">
                   <div class="w3-card-4" style="width:100%">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLEbnTDJUr_IeHYw_sfBOJ6gk5pie0yP-0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      <h2 >BEGINNERS</h2>
                    </div>
                </div>
                <div id="w2">
                    
              
                    <div class="w3-card-4" style="width:100%">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLNEqvET0cb66g5UlAzxhzvj6EZLtgsIww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                  <h2 >INTERMEDIATE</h2>
                </div>
                </div>
              
                <div id="w3">
                <div class="w3-card-4" style="width:100%">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLgzsL8klq6DIGjJrPiov3VapS49t6_jXy" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                  <h2 >ADVANCED</h2>
                </div>
               </div>
              
                <div id="w3">             
                <div class="w3-card-4" style="width:100%">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLRdEzUL8wOVI_nVCf37j1Tq8InvNoOLZW" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                 <h2>ADVANCED</h2>
                </div>
                </div>
              </div>
              </div>
              <div id="Paris" class="w3-container city" style="display:none">
              <h2>Some Reference web pages </h2>
               <h1>Tutorials Point</h1><br>
               <a href="https://www.tutorialspoint.com/data_structures_algorithms/algorithms_basics.htm" target="_blank">Click here to go to Tutorials Point </a><br>
               <h1>STUDY TONIGHT</h1><br>
               <a href="https://www.studytonight.com/data-structures/time-complexity-of-algorithms" target="_blank">Click here to go to STUDY TONIGHT </a><br>
               <h1>GATECSE</h1><br>
               <a href="https://gatecse.in/algorithms/" target="_blank">Click here to go to GATECSE </a><br>
               <h1>NPTEL</h1><br>
               <a href="https://onlinecourses.nptel.ac.in/noc18_cs20/preview" target="_blank">Click here to go to NPTEL </a><br>
               <h1>GradeUP</h1><br>
               <a href="https://gradeup.co/computer-science-engineering/algorithms" target="_blank">Click here to go to GradeUP </a><br>
               <h1>GeeksforGeeks</h1><br>
               <a href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/" target="_blank">Click here to go to GeeksforGeeks </a><br>
              </div>

              <div id="Tokyo" class="w3-container city" style="display:none">
               <h2>Related Pdf</h2>
               <h1>PDF 1</h1><br>
               <a href="http://labs.xjtudlc.com/labs/wldmt/reading%20list/books/Algorithms%20and%20optimization/Introduction%20to%20Algorithms.pdf" target="_blank">Click here to go to PDF 1 </a><br>
               <h1>PDF 2</h1><br>
               <a href="http://jeffe.cs.illinois.edu/teaching/algorithms/all-algorithms.pdf" target="_blank">Click here to go to  Pdf 2 </a><br>
               <h1>PDF 3</h1><br>
               <a href="http://web.ist.utl.pt/fabio.ferreira/material/asa/clrs.pdf" target="_blank">Click here to go to PDF 3 </a><br>
               <h1>PDF 4</h1><br>
               <a href="https://www2.cs.duke.edu/courses/fall08/cps230/Book.pdf" target="_blank">Click here to go to PDF 4 </a><br>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
          <div id="f">
          <div id="Address">
            <div id="center">
              Address
            </div>
            <div id="fcontent">
              Guru Jambheshwar University of Science & Technology , Hisar , <br>
              Haryana , INDIA <br>
              Pin code: 125001
            </div>
          </div>
          <div id="fblank"></div>
          <div id="contactnum">
              <div id="center">
                  Contact us
              </div>
                <div id="fcontent">
                    Mob No: ( +91 8684098247 ,<br>
                    +91 8708927014 ,
                    +91 9813525048 ,
                    +91 7056952278 )
                </div>
          </div>
          <div id="fblank"></div>
          <div id="email">
              <div id="center">
                  E-mail us
              </div>
                <div id="fcontent">
                   pankajmittal0321@gmail.com ,<br>
                    yadavravisachin@gmail.com , ns094953@gmail.com , maillokeshyadav1213@gmail.com
                </div>
          </div>
          <div id="quote">
              <div class="w3-panel w3-leftbar w3-light-powderblue w3-rightbar">
                  <p class="w3-xlarge w3-serif">
                      &#10077;&nbsp; &nbsp; &nbsp;&nbsp;<i>"Make it as simple as possible, but not simpler."</i>&nbsp; &nbsp; &nbsp; &nbsp;&#10078;</p>
                  <p>Albert Einstein</p>
                </div>
          </div>
          </div>
          <div id="f2">
            <div id="followsocial">
            <h4>Follow us on </h4>
            <div id="social">
              <div id="fb">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" style="font-size:35px;color:blue"></i></a>
              </div>
              <div id="twit">	
                <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" style="font-size:35px;color:powderblue"></i></a>
              </div>
              <div id="g">	
                <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-circle" style="font-size:35px;color:red"></i></a>
              </div>
              <div id="yt">
                <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play" style="font-size:35px;color:red"></i></a>
              </div>
              <div id="ln">
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" style="font-size:35px;color:blue"></i></a>
              </div>
            </div>
          </div>
          <div id="fhblank"></div>
          <div id="address">
            <h4>Location</h4>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3483.7984277064656!2d75.73109161518781!3d29.17061168220869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3912333b75d2db1d%3A0xd3d27cd450e433e3!2sGuru+Jambheshwar+University+of+Science+and+Technology!5e0!3m2!1sen!2sin!4v1532951537671"
               width="90%" height="120px" frameborder="0" style="border:0;margin-left:15px;" allowfullscreen></iframe>
          </div>
          </div>
        </div>
          <div id="copyright">
            Copyright <i class="fa fa-copyright"></i> GATE Achievers 2018
          </div>
</div>